In [44]:
import pandas as pd

In [45]:
finaldf = pd.read_csv('../data/Finaldf_1.csv', index_col='Unnamed: 0')

In [46]:
finaldf.head()

,State,County,FIPS,2010:UnemploymentRate,DDP:2012:percent.8,FFRPTH09,PCT_LACCESS_POP10,Poverty Rate 2010,pct_male,2010:AgeGroup01:0-4,...,2010:AgeGroup09:40-44,2010:AgeGroup10:45-49,2010:AgeGroup11:50-54,2010:AgeGroup12:55-59,2010:AgeGroup13:60-64,2010:AgeGroup14:65-69,2010:AgeGroup15:70-74,2010:AgeGroup16:75-79,2010:AgeGroup17:80-84,2010:AgeGroup18:85+
0,Alabama,Autauga,1001.0,8.9,12,0.554170,33.769657,11.551009,0.486870,0.065584,...,0.074875,0.079383,0.070972,0.056495,0.050888,0.041725,0.031812,0.022924,0.013395,0.010097
1,Alabama,Baldwin,1003.0,10.0,10.8,0.624282,19.318473,13.262972,0.489375,0.061219,...,0.065811,0.073689,0.074013,0.068708,0.065904,0.055820,0.041857,0.030714,0.021584,0.017738
2,Alabama,Barbour,1005.0,12.3,16.2,0.759301,20.840972,26.070118,0.530866,0.061988,...,0.065885,0.076775,0.069563,0.066176,0.065521,0.046983,0.034527,0.024948,0.019776,0.016134
3,Alabama,Bibb,1007.0,11.4,13.2,0.305131,4.559753,16.490777,0.536810,0.060135,...,0.071351,0.078769,0.068994,0.061139,0.058215,0.042156,0.033035,0.023958,0.015492,0.012175
4,Alabama,Blount,1009.0,9.8,13.8,0.418549,2.700840,14.731634,0.494784,0.063082,...,0.070357,0.072625,0.068421,0.064443,0.062489,0.050452,0.038153,0.026465,0.018056,0.014096

In [47]:
finaldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3224 entries, 0 to 3236
Data columns (total 27 columns):
State                    3142 non-null object
County                   3142 non-null object
FIPS                     3224 non-null float64
2010:UnemploymentRate    3214 non-null float64
DDP:2012:percent.8       3217 non-null object
FFRPTH09                 3143 non-null float64
PCT_LACCESS_POP10        3143 non-null float64
Poverty Rate 2010        3142 non-null float64
pct_male                 3136 non-null float64
2010:AgeGroup01:0-4      3136 non-null float64
2010:AgeGroup02:5-9      3136 non-null float64
2010:AgeGroup03:10-14    3136 non-null float64
2010:AgeGroup04:15-19    3136 non-null float64
2010:AgeGroup05:20-24    3136 non-null float64
2010:AgeGroup06:25-29    3136 non-null float64
2010:AgeGroup07:30-34    3136 non-null float64
2010:AgeGroup08:35-39    3136 non-null float64
2010:AgeGroup09:40-44    3136 non-null float64
2010:AgeGroup10:45-49    3136 non-null float64
2010:AgeGroup11:50-54    3136 non-null float64
2010:AgeGroup12:55-59    3136 non-null float64
2010:AgeGroup13:60-64    3136 non-null float64
2010:AgeGroup14:65-69    3136 non-null float64
2010:AgeGroup15:70-74    3136 non-null float64
2010:AgeGroup16:75-79    3136 non-null float64
2010:AgeGroup17:80-84    3136 non-null float64
2010:AgeGroup18:85+      3136 non-null float64
dtypes: float64(24), object(3)
memory usage: 705.2+ KB

In [40]:
#removing county missing names (all Puerto rio basially, not in food environment)
finaldf = finaldf[finaldf['County'].isnull() == False]

In [48]:
finaldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3224 entries, 0 to 3236
Data columns (total 27 columns):
State                    3142 non-null object
County                   3142 non-null object
FIPS                     3224 non-null float64
2010:UnemploymentRate    3214 non-null float64
DDP:2012:percent.8       3217 non-null object
FFRPTH09                 3143 non-null float64
PCT_LACCESS_POP10        3143 non-null float64
Poverty Rate 2010        3142 non-null float64
pct_male                 3136 non-null float64
2010:AgeGroup01:0-4      3136 non-null float64
2010:AgeGroup02:5-9      3136 non-null float64
2010:AgeGroup03:10-14    3136 non-null float64
2010:AgeGroup04:15-19    3136 non-null float64
2010:AgeGroup05:20-24    3136 non-null float64
2010:AgeGroup06:25-29    3136 non-null float64
2010:AgeGroup07:30-34    3136 non-null float64
2010:AgeGroup08:35-39    3136 non-null float64
2010:AgeGroup09:40-44    3136 non-null float64
2010:AgeGroup10:45-49    3136 non-null float64
2010:AgeGroup11:50-54    3136 non-null float64
2010:AgeGroup12:55-59    3136 non-null float64
2010:AgeGroup13:60-64    3136 non-null float64
2010:AgeGroup14:65-69    3136 non-null float64
2010:AgeGroup15:70-74    3136 non-null float64
2010:AgeGroup16:75-79    3136 non-null float64
2010:AgeGroup17:80-84    3136 non-null float64
2010:AgeGroup18:85+      3136 non-null float64
dtypes: float64(24), object(3)
memory usage: 705.2+ KB

In [49]:
finaldf[finaldf['2010:AgeGroup08:35-39'].isnull()][['FIPS', 'State']].groupby('State').size()

State
Alaska          4
Hawaii          1
South Dakota    1
Virginia        2
dtype: int64

In [51]:
one_null =  finaldf[finaldf.isnull().sum(axis = 1) > 0]
one_null[one_null['FIPS'] < 72000]

,State,County,FIPS,2010:UnemploymentRate,DDP:2012:percent.8,FFRPTH09,PCT_LACCESS_POP10,Poverty Rate 2010,pct_male,2010:AgeGroup01:0-4,...,2010:AgeGroup09:40-44,2010:AgeGroup10:45-49,2010:AgeGroup11:50-54,2010:AgeGroup12:55-59,2010:AgeGroup13:60-64,2010:AgeGroup14:65-69,2010:AgeGroup15:70-74,2010:AgeGroup16:75-79,2010:AgeGroup17:80-84,2010:AgeGroup18:85+
99,NaN,NaN,2201.0,NaN,No Data,NaN,NaN,NaN,0.552258,0.070262,...,0.063169,0.073077,0.088616,0.078370,0.057651,0.035919,0.028938,0.018579,0.014638,0.015426
329,NaN,NaN,11001.0,9.4,8.1,1.236010,2.820352,NaN,0.472347,0.052835,...,0.050397,0.057662,0.061487,0.059838,0.050017,0.034742,0.024206,0.018554,0.015307,0.014846
3149,Virginia,Buena Vista city,51530.0,9.9,10.3,0.748839,93.797731,19.901053,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3150,NaN,NaN,2232.0,NaN,No Data,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3151,NaN,NaN,2280.0,NaN,No Data,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3230,Alaska,Petersburg Census Area,2195.0,NaN,NaN,0.000000,4.805863,11.644562,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3231,Alaska,Prince of Wales-Hyder Census Area,2198.0,NaN,NaN,0.000000,25.014925,13.071660,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3232,Alaska,Wade Hampton Census Area,2270.0,NaN,NaN,0.000000,66.430852,29.677935,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3233,Alaska,Wrangell City and Borough,2275.0,NaN,NaN,0.000000,21.554429,7.613345,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3234,Hawaii,Kalawao,15005.0,NaN,NaN,0.000000,0.000000,10.937500,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3235,South Dakota,Shannon,46113.0,NaN,NaN,0.148976,47.682684,49.453491,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3236,Virginia,Bedford city,51515.0,NaN,NaN,0.000000,8.673396,21.193521,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
finaldf.to_csv('../data/Finaldf_Cleaned_1.csv')